---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021?apikey=pGMAoAmOEJKVxt7e5gLEaspMongJ5UFK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '46'
      Akamai-Grn:
      - 0.4ddeda17.1673705408.988df5f0
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-14T17:04:00+03:00","EpochTime":1673705040,"WeatherText":"Light
        snow","WeatherIcon":19,"HasPrecipitation":true,"PrecipitationType":"Snow","IsDayTime":false,"Temperature":{"Metric":{"Value":-2.8,"Unit":"C","UnitType":17},"Imperial":{"Value":27.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"}]'
  recorded_at: Sat, 14 Jan 2023 14:10:08 GMT
recorded_with: VCR 6.1.0
